body {
    margin: 0;
    /* background-image: url('https://source.unsplash.com/1600x900/?architecture'); */
    background-color: bisque;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(5,2,59);
    background: linear-gradient(90deg, rgba(5,2,59,1) 17%, rgba(47,47,152,1) 51%, rgba(31,174,204,1) 83%);
    opacity: .8;
    color: aliceblue;
    padding: 3ch;
}

.adding-part {
    display: flex;
    align-items: center;
    background: midnightblue;
    min-width: 450px;
    border-radius: 32px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.input-bar {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-family: cursive;
    font-weight: 400;
    color: whitesmoke;
}

.add-button {
    border: none;
    outline: none;
    padding: 14px 50px;
    border-radius: 32px;
    background: transparent;
    background-color: rgb(255, 111, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}
/* ---------------------------------------------------------*/

.navbar-toggle {
    visibility: hidden;
}

/* -------------------------------------------------------- */

@media (min-width: 400px) and (max-width: 900px) {
    .adding-part {
        border: none;
        min-width: 35px;
        border-radius: 45px;
        padding-left: 10px;
    }
    
    .add-button {
        border: none;
        outline: none;
        padding: 15px 30px;
        border-radius: 45px;
        background: transparent;
        background-color: rgb(255, 111, 0);
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden; 
        padding-top: 60px;
        transition: 0.5s;
    }
    .navbar a {
        padding: 12px 35px;
        text-decoration: none;
        font-size: 22px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .navbar a:hover {
        color: #f1f1f1;
    }
    
    .navbar .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 36px;
    }

    hr {
        border: none;
        height: 0.5px;
        background-color: #726a6a;
        margin: 0;

    }
}
